<h1>All Users!!!</h1>
<table>
  <tr>
    <th>nickname</th>
    <th>email</th>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.nickname %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
</table>
